
#components-layout-demo-custom-trigger .logo {
  background: rgba(255, 255, 255, 0.3);
}

.ant-layout-sider-children {
  background: #FAFAFA;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: #FAFAFA;
}

.ant-layout-header {
  color: rgba(0, 0, 0, 0.85);
  background: #17192E;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #5689EC;
}

.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item > a{
  color: #868585;
}


.icon-style{
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover {
  color: #868585;
  background-color: transparent;
}

